{% extends 'index.html'%}
{% block title %}
注册
{% endblock %}
{% block body %}
   <body  style="background-size: cover;background-image:url(../static/img/dpx.png)">
    <div class="card" style="position: fixed;left: 30%;top: 15%;width: 500px;height: 500px;border-radius: 5%;background-color: rgba(0, 0, 0, 0.5);">
        <div class="card-body" style="user-select: none;">
            <img src="https://ts3.cn.mm.bing.net/th?id=OIP-C.7vDQtiuJdkkoYfR8TY-GHgAAAA&w=330&h=68&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
            <input name="account" placeholder="请输入新账号(max:11)" class="input-group-text" type="text" style="margin-top: 50px" maxlength="11"><br>
            <input name="password" placeholder="请输入密码" class="input-group-text" type="password" maxlength="100"><br>
            <input name="password" placeholder="确认密码" class="input-group-text" type="password" maxlength="100"><br>
            <button type="button" class="btn-outline-warning btn" style="left: 30%; position: relative;" onclick="aa()">提交</button><br>
            <h3 style="color: red;display: none" id="warn1">输入有误！</h3>
            <h3 style="color: red;display: none" id="warn2">注册成功!</h3>
            <h3 style="color: red;display: none" id="warn3">账号已存在!</h3>
            <h3 style="color: red;display: none" id="warn4">服务器错误，请稍后重试!</h3>

        </div>
    </div>
   <script>
       function bb(id){ //网页上提示信息
           document.getElementById(id).style.display='block'
           setTimeout(function (){
              document.getElementById(id).style.display='none'
           },2000)
       }
       function aa(){
            //验证数据
       let a=document.getElementsByName('account')[0].value
       let p0=document.getElementsByName('password')[0].value
       let p1=document.getElementsByName('password')[1].value
       if (a===''||p0===''||p1===''||(p0!==p1)){   //没有输入完整或两次密码输入不一致
           bb('warn1')
           return
       }
       //提交注册数据给后台处理
       $.post('/register_request',{
           'account':a,
           'password':p0,
       },function (data){
           console.log(data.state)
           if (data.state===true){  //注册成功
               bb('warn2')
               //清空输入的值
               document.getElementsByName('password')[0].value=''
               document.getElementsByName('password')[1].value=''
           }
           else if (data.error==='账号已存在'){
                bb('warn3')
           }
           else{//数据库出错
               bb('warn4')
           }
       })
   }



   </script>
   </body>
{% endblock %}